<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
            <p>
              <strong>Text</strong>: {{example.text}}</p>
            <p>
              <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>

        </div>
      </div>
    </div>
  </div>
  <button id="on" class="btn btn-primary float-right">On</button>
  <button id="off" class="btn btn-primary float-right">Off</button>
  {{!--
  <button id="blink" class="btn btn-primary float-right">blink</button> --}}


</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
  $("#on").on("click", function () {
    $.ajax({
      url: "/api/arduino",
      type: "POST",
      data: { status: "on" }
    }).then(function (response) {
      {{!-- console.log(response); --}}
    });
  });

  $("#off").on("click", function () {

    $.ajax({
      url: "/api/arduino",
      type: "POST",
      data: { status: "off" }
    }).then(function (response) {
      {{!-- console.log(response); --}}
    });


  });

  function update() {
    $.ajax({
      url: "/api/ard/hardware",
      type: "GET"
    }).then(function (response) {
      console.log(response); 
    });
  }
  setInterval(function () {
    update();
  },100);

</script>